services:
  # PostgreSQL databases for 4chan and Reddit data
  db:
    image: timescale/timescaledb-ha:pg17
    container_name: timescaledb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  # FastAPI backend service
  backend:
    image: karthikmp15/smdsp-backend:v1
    container_name: smdsp-backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    # env_file:
    #   - .env
    environment:
      # Override database URLs to use Docker network
      CHAN_DATABASE_URL: postgresql://postgres:<password>@<host_name>:5432/<database_name>
      REDDIT_DATABASE_URL: postgresql://postgres:<password>@<host_name>:5432/<database_name>
      OPENAI_API_KEY:
      LLM_MODEL:
    volumes:
      - backend_logs:/app/logs
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    networks:
      - app-network

  # Next.js frontend service
  frontend:
    image: karthikmp15/smdsp-frontend:v1
    container_name: smdsp-frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_BACKEND_END_POINT: <Backend_URL>
      NEXT_PUBLIC_COPILOT_END_POINT: <Backend_URL_Copilot>
      NEXT_PUBLIC_COPILOT_RUNTIME_URL: <Agent Time url>
      NODE_ENV: production
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

volumes:
  timescale_data:
    driver: local
  backend_logs:
    driver: local

networks:
  app-network:
    driver: bridge
